<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JD购物车</title>
</head>
<body>
    <h2>JD购物车</h2>
    <a href="/index.html">回到首页</a>
    <div style="height: 1000px;"></div>
    <%= require('../components/footer.ejs')({htmlWebpackPlugin}) %>
</body>
</html>