<div id="header-empty" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1); height: 45px;"></div>
  <!-- 头部+搜索框 -->
<div id="header">
  <a class="head-fenlei block" href="./list.html">
    <span></span>
  </a>
  <a class="head-login" href="./login.html">
    <span>登录</span>
  </a>
  <div class="head-search">
    <div class="search-box">
      <i class="input-left-jd"></i>
      <i class="input-left-icon"></i>
      <div class="input-center">商务休闲鞋</div>
    </div>
  </div>
</div>
<!-- 广告或者APP内打开 -->
<div class="mobile-content">
  <ul id="open-in-app">
    <li class="close-open-app">
      <img src="../assets/images/close-icon-jd.png" alt="关闭">
    </li>
    <li class="jd-logo">
      <img src="../assets/images/jd-logo.png" alt="京东">
    </li>
    <li class="jd-app-desc">
      打开京东App，购物更轻松
    </li>
    <li class="open-right-now">
      立即打开
    </li>
  </ul>
</div>